.input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid var(--main-darker);
    border-radius: 5px;
}

.button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.errorMessege {
    color: crimson;
}