.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	column-gap: 40px;
	padding: 12px 0;
}

.tags {
	display: flex;
	font-weight: 600;
	margin-top: 20px;
}

.tag {
	margin-left: 10px;
}

.author {
	display: flex;
	align-items: center;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
}

.name_email {
	font-weight: 600;
}

.name {
	font-size: 1.1rem;
}

.image {
	width: 50%;
	float:left;
	margin: 10px 20px 0 0;
}

.buttons {
	display: flex;
	justify-content: flex-start;
	gap: 45px;
}

.button {
	background-color: #f4f0f0!important;
	border-radius: 5px;
	padding-right: 8px;
}

.text {
	font-size: 1.1rem;
	grid-column: 1 / 3;
  	grid-row: 2;
	  text-align: justify;
}

.wrapper {
	display: flex;
	justify-content: end;
}

.like {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content:space-between;
	background-color: #f4f0f0;
	border-radius: 5px;
	padding-right: 8px;
	width: 180px;
	padding: 0 16px;
}

.likeAmount {
	font-size: 16px;
	font-weight: 600;
}