@import "~normalize.css";

:root {
	--main-color: #4ddbff;
	--main-darker: #09738d;
	--main-lighter: #aeebfa;
	--button-color: #9f33f8;
	--button-darker: #6e0dbd;
}

* {
	box-sizing: inherit;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: 'Comfortaa', cursive;
	height: 100%;
}

.container {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
	padding: 0 16px;
}

img {
	max-width: 100%;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content__about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0px;
}

.content__greeting h2 {
	font-size: 25px;
	font-weight: 600;
}

.content__posts {
	position: relative;
}